.userIcon {
    width: var(--size-header);
    height: var(--size-header);

    margin-right: 0.75rem;
    padding: calc((var(--size-header) - 1rem) / 2);

    position: relative;
    float: right;

    box-sizing: border-box;

    cursor: pointer;
}

.userIcon-image {
    width: 1rem;
    height: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    background-size: 1rem 1rem;
    border: none;
    border-radius: 50%;
}
