.signoutIcon {
    width: 1.3rem;
    height: 1.3rem;

    margin: calc((var(--size-header) - 1.3rem) / 2);

    position: relative;
    float: right;

    background-size: 1.3rem 1.3rem;
    background-position: center;
    box-sizing: border-box;
    border-radius: 50%;
    filter: grayscale(1);

    cursor: pointer;
}