.setting {
    width: 100%;
    height: 100%;

    position: fixed;

    background-color: var(--color-80);

    z-index: 2;
}

.setting-container {
    width: 30rem;
    height: auto;

    margin-bottom: 10%;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.setting-title {
    width: 100%;
    height: 2rem;

    margin-bottom: 0.5rem;

    position: relative;
    float: left;

    color: var(--color-A);
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
}

.setting-element-container {
    width: 100%;
    height: auto;

    position: relative;
    float: left;
}

.setting-element,
.setting-element-active {
    width: auto;
    height: auto;
    
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    position: relative;
    float: left;

    color: var(--color-50);
    font-size: 0.7rem;
    font-weight: 500;

    background: none;
    border: none;
    border-radius: 1rem;
    transition: 0.5s;

    cursor: pointer;
    outline: none;
}

.setting-element:hover {
    color: var(--color-primary-light);
}

.setting-element-active {
    color: var(--color-primary);

    background-color: var(--color-70);
}

.setting-confirm {
    width: auto;
    height: auto;

    margin-top: 1rem;
    padding: 0.5rem 1rem;

    position: relative;
    float: right;

    color: var(--color-30);
    font-size: 0.7rem;
    font-weight: 700;

    background-color: var(--color-70);
    border: none;
    border-radius: 0.5rem;
    transition: 0.5s;

    cursor: pointer;
    outline: none;
}

.setting-confirm:hover {
    background-color: var(--color-60);
}